<!DOCTYPE html>
<html lang="ptbr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header class="container">
        <%- include('../partials/header'); %>
    </header>
    <main class="container">
        <!-- <div class="jumbotron"></div> -->
        <div class="container-sm border border-danger rounded-lg">
            <div class="form-group">
                <h3 style="text-align: center;">Cadastrar postagem</h3>
                <form action="/cadastrar_posts" method="post">
                    <div class="form-group">
                        <div><label for="titulo">Titulo da postagem</label></div>
                        <div><input type="text" id="titulo" name="titulo" required class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <div><label for="conteudo">Conteudo</label></div>
                        <div> <textarea id="conteudo" name="conteudo"></textarea></div>
                    </div>
                    <!-- TODO: Implementar um campo para verificar na página se as senhas coincidem -->
                    <div><button type="submit" class="form-control btn btn-dark">Postar</button></div>
                </form>
            </div>
        </div>
        <div class="fixed-bottom">...</div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>